.advantages{
	.wlblocks_advantages-2();
	.plates(3);
	&__ico{
		border-radius: 50%;
		border: 10px solid #ffe11e;
		width: 130px;
		height: 130px;
	}
	&__ico:before{
		content:'';
		display:block;
		width: 76px;
		height: 76px;
		background: url(../images/sprite.svg) -113px -60px;
	}
	&__caption{
		font-family: Roboto Condensed;
		font-weight: 700;
		font-size: 24px;
		color: #ffffff;
	}
	&__desc{
		font-family: Roboto;
		font-weight: 400;
		font-size: 17px;
		color: #ffffff;
	}
	&__item-wr_admiss &__ico:before{
		background: url(../images/sprite.svg) -217px -60px;
	}
	&__item-wr_visa &__ico:before{
		background: url(../images/sprite.svg) -9px -60px;
	}
}

