.reviews{
	.wlblocks_reviews-1();
	.plates(3);
	&__item{
		background:#ffffff;
		border-radius:15px;
		box-shadow:0px 7px 15px rgba(0,0,0,0.1);
	}
	&__caption{
		font-size:24px;
		color:#ffffff;
	}
	&__subcaption{
		font-size:17px;
		color:#ffffff;
	}
	&__desc b{
		font-weight:700;
		font-size:20px;
		color:#1a12e6;
	}
	&__desc p{
		font-size:16px;
		color:#757575;
	}
}

