<div class="aboutus">
	<div class="aboutus__main">
		<div class="aboutus__image"></div>
		<div class="aboutus__text">
			<h3 class="aboutus__subcaption">Intakes in Ukraine</h3>
			<h2 class="aboutus__caption">Study in Europe</h2>
			<p>“Intakes in Ukraine” is official organization that helps foreign students to apply and study in any ukrainian university. We help students from first step (choosing of university) to last (graduation).</p>
			<p>“Intakes in Ukraine” was founded specially for international students to make their admission process and education in ukrainian universities as simple, intuitive and comfortable as possible.</p>
			<a href="#" class="button">About organization</a>
		</div>
	</div>
</div>