<div class="advantages">
	<div class="advantages__item-wr advantages__item-wr_toefl">
		<div class="advantages__ico"></div>
		<div class="advantages__caption">No TOEFL/IELTS</div>
		<div class="advantages__desc">Ukrainian Admissions Center allows students to study in ukrainian universities without any exams</div>
	</div>
	<div class="advantages__item-wr advantages__item-wr_admiss">
		<div class="advantages__ico"></div>
		<div class="advantages__caption">100% Admission</div>
		<div class="advantages__desc">Ukrainian Admissions Center allows students to study in ukrainian universities without any admission</div>
	</div>
	<div class="advantages__item-wr advantages__item-wr_visa">
		<div class="advantages__ico"></div>
		<div class="advantages__caption">100% Student Visa</div>
		<div class="advantages__desc">If you admission via Ukrainian Admissions Center, then you will get guarantee educational visa to Ukraine</div>
	</div>
</div>