<footer class="footer">
	<div class="footer__contacts">
		<div class="wrapper"></div>
	</div>
	<div class="footer__main">
		<div class="wrapper">
			<div><?php echo wp_nav_menu(array('theme_location'=>'footermenu','container'=>'nav','container_class'=>'navbar','menu_class'=>'menu '));?></div>
		</div>
		<div class="footer__bottom">
			<div class="wrapper">
				<div class="footer__copyright">© 2022 Intakes in Ukraine | All rights reserved</div>
				<div class="footer__weblamas">Site developed by WebLamas</div>
			</div>
		</div>
	</div>
</footer>