<div class="isopen">
	<div class="wrapper">
		<div class="screen-caption">
			<div class="screen-caption__main">Admission 2021—2022 is open in Ukraine</div>
			<div class="screen-caption__desc">All foreign students are welcome to study in Ukraine!  You can apply with “Intakes in Ukraine”</div>
		</div>
		<div class="isopen__logo-btn">
			<div class="logo">
				<div class="logo__img"></div>
				<div class="logo__text">Intakes  in Ukraine</div>
			</div>
			<a href="#" class="button">Apply now</a>
		</div>
	</div>
</div>