<div class="news">
	<div class="news__item-wr">
		<div class="news__item">
			<div class="news__image"></div>
			<div class="news__text">
				<div class="news__caption">Best Universities in Ukraine</div>
				<div class="news__desc">Ukraine is the largest country in Europe. It is famous for ancient churches, lovely landscapes, the Black Sea coastline...</div>
				<a href="#" class="button">Read more</a>
			</div>
		</div>
	</div>
	<div class="news__item-wr">
		<div class="news__item">
			<div class="news__image"></div>
			<div class="news__text">
				<div class="news__caption">Admission 2020-2021 is open!</div>
				<div class="news__desc">Dear prospective students! We are glad to inform you, that admission to ukrainian universities for 2020-2021 is open now…</div>
				<a href="#" class="button">Read more</a>
			</div>
		</div>
	</div>
	<div class="news__item-wr">
		<div class="news__item">
			<div class="news__image"></div>
			<div class="news__text">
				<div class="news__caption">Ukraine is open for students</div>
				<div class="news__desc">Ukrainian is Open for Students Now - Contact Us for Real News and Stories About Studying in Ukraine. Call and book...</div>
				<a href="#" class="button">Read more</a>
			</div>
		</div>
	</div>
</div>