<div class="reviews">
	<div class="reviews__item-wr">
		<div class="reviews__item">
			<div class="reviews__ico"></div>
			<div class="reviews__caption">Rajashekar Akhil Raj</div>
			<div class="reviews__stars"></div>
			<div class="reviews__subcaption">Student from India</div>
			<div class="reviews__desc">
				<b>I was looking for an opportunity to get education in Europe.</b>
				<p>But a large selection of agents makes me crazy. Thank you that there is “Intakes in Ukraine”. It is perfect abilyty for students that wants to study abroad. With it everything is easy and simple, and don’t need worry about the reliability of the agent!</p>
			</div>
		</div>
	</div>
	<div class="reviews__item-wr">
		<div class="reviews__item">
			<div class="reviews__ico"></div>
			<div class="reviews__caption">Aderinoye Raheemat</div>
			<div class="reviews__stars"></div>
			<div class="reviews__subcaption">Student from Nigeria</div>
			<div class="reviews__desc">
				<b>“Intakes in Ukraine”, I want to say great thanks to all your team!</b>
				<p>You make my admission easy and comfort. I had some fears when I came to Ukraine. But “Intakes in Ukraine” helps me with everything. I have no any problems here at all. Great thanks to all staff of “Intakes in Ukraine”!</p>
			</div>
		</div>
	</div>
	<div class="reviews__item-wr">
		<div class="reviews__item">
			<div class="reviews__ico"></div>
			<div class="reviews__caption">Chingosho Rutendo Fafadzwa</div>
			<div class="reviews__stars"></div>
			<div class="reviews__subcaption">Student from Zimbabwe</div>
			<div class="reviews__desc">
				<b>I'm in Ukraine now! I'm getting medical education.</b>
				<p>My admission process for very easy. I got visa without any problems. I'm happy. Thank you “Intakes in Ukraine”. PS: Your bonuses on arrival was amazing. They helps me so much in living in Ukraine. Your are the best and you really care about students.</p>
			</div>
		</div>
	</div>
</div>