<div class="screen-statistic">
	<div class="wrapper">
		<div class="stat-directions">
			<div class="stat-directions__text">
				<div class="screen-caption">
					<h2 class="screen-caption__main">International students  in Ukraine</h2>
				</div>
				<div class="stat-icon-wr">
					<div class="stat-icon stat-icon_stud">
						<div class="stat-icon__inner">
							<div class="stat-icon__ico"></div>
							<div class="stat-icon__num">76 548</div>
							<div class="stat-icon__desc">international students</div>
						</div>
					</div>
					<div class="stat-icon stat-icon_geo">
						<div class="stat-icon__inner">
							<div class="stat-icon__ico"></div>
							<div class="stat-icon__num">155</div>
							<div class="stat-icon__desc">departure countries</div>
						</div>
					</div>
				</div>
				<div class="chart-table">
					<div class="chart-table__line">
						<div class="chart-table__caption">Bachelor’s and Master’s Degrees</div>
						<div class="chart-table__num">68 908</div>
						<div class="chart-table__percent">90,02%</div>
						<div class="chart-table__color"></div>
					</div>
					<div class="chart-table__line">
						<div class="chart-table__caption">Preparatory Course</div>
						<div class="chart-table__num">4 936</div>
						<div class="chart-table__percent">6,45%</div>
						<div class="chart-table__color"></div>
					</div>
					<div class="chart-table__line">
						<div class="chart-table__caption">Postgraduate Education</div>
						<div class="chart-table__num">1 719</div>
						<div class="chart-table__percent">2,25%</div>
						<div class="chart-table__color"></div>
					</div>
					<div class="chart-table__line">
						<div class="chart-table__caption">Doctoral Studies</div>
						<div class="chart-table__num">974</div>
						<div class="chart-table__percent">1,27%</div>
						<div class="chart-table__color"></div>
					</div>
					<div class="chart-table__line">
						<div class="chart-table__caption">Academic Mobility</div>
						<div class="chart-table__num">11</div>
						<div class="chart-table__percent">0,01%</div>
						<div class="chart-table__color"></div>
					</div>
				</div>
			</div>
			<div class="stat-directions__img"></div>
		</div>
		<div class="stat-countries">
			<div class="countries-tbl">
				<div class="countries-tbl__caption">Students by countries</div>
				<div class="countries-tbl__line">
					<div class="countries-tbl__name">1. India</div>
					<div class="countries-tbl__flag countries-tbl__flag_ico-flag-01"></div>
					<div class="countries-tbl__num">18 095</div>
					<div class="countries-tbl__percent">23,64%</div>
				</div>
				<div class="countries-tbl__line">
					<div class="countries-tbl__name">2. Morocco</div>
					<div class="countries-tbl__ico-flag-02 countries-tbl__ico-flag-02_ico-flag-02"></div>
					<div class="countries-tbl__num">8 832</div>
					<div class="countries-tbl__percent">11,54%</div>
				</div>
				<div class="countries-tbl__line">
					<div class="countries-tbl__name">3. Turkmenistan</div>
					<div class="countries-tbl__ico-flag-03 countries-tbl__ico-flag-03_ico-flag-03"></div>
					<div class="countries-tbl__num">5 322</div>
					<div class="countries-tbl__percent">6,95%</div>
				</div>
				<div class="countries-tbl__line">
					<div class="countries-tbl__name">4. Azerbaijan</div>
					<div class="countries-tbl__ico-flag-04 countries-tbl__ico-flag-04_ico-flag-04"></div>
					<div class="countries-tbl__num">4 628</div>
					<div class="countries-tbl__percent">6,05%</div>
				</div>
				<div class="countries-tbl__line">
					<div class="countries-tbl__name">5. Nigeria</div>
					<div class="countries-tbl__ico-flag-05 countries-tbl__ico-flag-05_ico-flag-05"></div>
					<div class="countries-tbl__num">4 227</div>
					<div class="countries-tbl__percent">5,52%</div>
				</div>
				<div class="countries-tbl__line">
					<div class="countries-tbl__name">6. China</div>
					<div class="countries-tbl__ico-flag-06 countries-tbl__ico-flag-06_ico-flag-06"></div>
					<div class="countries-tbl__num">4 055</div>
					<div class="countries-tbl__percent">5,30%</div>
				</div>
				<div class="countries-tbl__line">
					<div class="countries-tbl__name">7. Turkey</div>
					<div class="countries-tbl__ico-flag-07 countries-tbl__ico-flag-07_ico-flag-07"></div>
					<div class="countries-tbl__num">3 999</div>
					<div class="countries-tbl__percent">5,22%</div>
				</div>
				<div class="countries-tbl__line">
					<div class="countries-tbl__name">8. Egypt</div>
					<div class="countries-tbl__ico-flag-08 countries-tbl__ico-flag-08_ico-flag-08"></div>
					<div class="countries-tbl__num">3 048</div>
					<div class="countries-tbl__percent">3,98%</div>
				</div>
				<div class="countries-tbl__line">
					<div class="countries-tbl__name">9. Israel</div>
					<div class="countries-tbl__ico-flag-09 countries-tbl__ico-flag-09_ico-flag-09"></div>
					<div class="countries-tbl__num">2 107</div>
					<div class="countries-tbl__percent">2,75%</div>
				</div>
				<div class="countries-tbl__line">
					<div class="countries-tbl__name">10. Uzbekistan</div>
					<div class="countries-tbl__ico-flag-10 countries-tbl__ico-flag-10_ico-flag-10"></div>
					<div class="countries-tbl__num">1 585</div>
					<div class="countries-tbl__percent">2,07%</div>
				</div>
				<div class="countries-tbl__line">
					<div class="countries-tbl__name">11. Others</div>
					<div class="countries-tbl__flag countries-tbl__flag_ico-flag-01"></div>
					<div class="countries-tbl__num">20 651</div>
					<div class="countries-tbl__percent">26,98%</div>
				</div>
			</div>
		</div>
	</div>
</div>