<div class="screen-widgets">
	<div class="wrapper">
		<div class="soc-widget-wr">
			<div class="soc-widget soc-widget_you">
				<div class="soc-widget__inner">
					<div class="soc-widget__header">YouTube</div>
					<div class="soc-widget__body"></div>
				</div>
			</div>
			<div class="soc-widget soc-widget_ins">
				<div class="soc-widget__inner">
					<div class="soc-widget__header">Instagram</div>
					<div class="soc-widget__body"></div>
				</div>
			</div>
			<div class="soc-widget soc-widget_twi">
				<div class="soc-widget__inner">
					<div class="soc-widget__header">Twitter</div>
					<div class="soc-widget__body"></div>
				</div>
			</div>
		</div>
	</div>
</div>