<div class="screen-universities">
	<div class="screen-caption">
		<div class="screen-caption__main">Discover ukrainian universities</div>
		<div class="screen-caption__desc">You can choose any ukrainian university</div>
	</div>
	<div class="wrapper">
		<div class="plate-link-wr">
			<div class="plate-link plate-link_med">
				<div class="plate-link__inner">
					<div class="plate-link__photo">
						<div class="plate-link__ico"></div>
					</div>
					<div class="plate-link__caption">Medical Universities</div>
				</div>
			</div>
			<div class="plate-link plate-link_eng">
				<div class="plate-link__inner">
					<div class="plate-link__photo">
						<div class="plate-link__ico"></div>
					</div>
					<div class="plate-link__caption">Engineering Universities</div>
				</div>
			</div>
			<div class="plate-link plate-link_avi">
				<div class="plate-link__inner">
					<div class="plate-link__photo">
						<div class="plate-link__ico"></div>
					</div>
					<div class="plate-link__caption">Aviation Universities</div>
				</div>
			</div>
			<div class="plate-link plate-link_eco">
				<div class="plate-link__inner">
					<div class="plate-link__photo">
						<div class="plate-link__ico"></div>
					</div>
					<div class="plate-link__caption">Economics Universities</div>
				</div>
			</div>
			<div class="plate-link plate-link_art">
				<div class="plate-link__inner">
					<div class="plate-link__photo">
						<div class="plate-link__ico"></div>
					</div>
					<div class="plate-link__caption">Artistic Universities</div>
				</div>
			</div>
			<div class="plate-link plate-link_env">
				<div class="plate-link__inner">
					<div class="plate-link__photo">
						<div class="plate-link__ico"></div>
					</div>
					<div class="plate-link__caption">Environmental Universities</div>
				</div>
			</div>
			<div class="plate-link plate-link_mar">
				<div class="plate-link__inner">
					<div class="plate-link__photo">
						<div class="plate-link__ico"></div>
					</div>
					<div class="plate-link__caption">Maritime Universities</div>
				</div>
			</div>
			<div class="plate-link plate-link_offer">
				<div class="plate-link__inner">
					<div class="plate-link__caption-2">Admission extented!</div>
					<div class="plate-link__desc">We are waiting for your application!</div>
					<a href="#" class="button">Apply now</a>
				</div>
			</div>
		</div>
	</div>
</div>