<div class="screen-main">
	<div class="screen-main__back"></div>
	<div class="wrapper">
		<div><?php echo do_shortcode('[contact-form-7 id="form-main"]');?></div>
	</div>
	<div class="screen-main__text">
		<div class="wrapper">
			<h1 class="screen-main__caption">European education in Ukraine</h1>
			<div class="screen-main__subcaption">High quality and low tuition fees</div>
			<div class="screen-main__flags">
				<div class="flag flag_01"></div>
				<div class="flag flag_02"></div>
				<div class="flag flag_03"></div>
				<div class="flag flag_04"></div>
				<div class="flag flag_05"></div>
				<div class="flag flag_06"></div>
				<div class="flag flag_07"></div>
				<div class="flag flag_08"></div>
			</div>
		</div>
	</div>
</div>