<div class="steps">
	<div class="steps__item-wr steps__item-wr_first">
		<div class="steps__item">
			<div class="steps__ico"></div>
			<div class="steps__num">1</div>
			<div class="steps__caption">Choose a profession, university, program</div>
		</div>
	</div>
	<div class="steps__item-wr steps__item-wr_second">
		<div class="steps__item">
			<div class="steps__ico"></div>
			<div class="steps__num">2</div>
			<div class="steps__caption">Find out about financing options</div>
		</div>
	</div>
	<div class="steps__item-wr steps__item-wr_third">
		<div class="steps__item">
			<div class="steps__ico"></div>
			<div class="steps__num">3</div>
			<div class="steps__caption">Collect a package of documents</div>
		</div>
	</div>
	<div class="steps__item-wr steps__item-wr_fourth">
		<div class="steps__item">
			<div class="steps__ico"></div>
			<div class="steps__num">4</div>
			<div class="steps__caption">Pass the competitive selection</div>
		</div>
	</div>
	<div class="steps__item-wr steps__item-wr_fifth">
		<div class="steps__item">
			<div class="steps__ico"></div>
			<div class="steps__num">5</div>
			<div class="steps__caption">Get an invitation and apply for a study visa</div>
		</div>
	</div>
</div>