<div class="whyua">
	<div class="whyua__item-wr whyua__item-wr_first">
		<div class="whyua__item">
			<div class="whyua__ico"></div>
			<div class="whyua__caption">European country</div>
			<div class="whyua__desc">Ukraine cituated in the center of Europe. It is the largest country in Europe (603,5 km²)</div>
		</div>
	</div>
	<div class="whyua__item-wr whyua__item-wr_second">
		<div class="whyua__item">
			<div class="whyua__ico"></div>
			<div class="whyua__caption">Low prices</div>
			<div class="whyua__desc">Higher education in Ukraine is the cheapest in Europe. It is really cost effective</div>
		</div>
	</div>
	<div class="whyua__item-wr whyua__item-wr_third">
		<div class="whyua__item">
			<div class="whyua__ico"></div>
			<div class="whyua__caption">High quality education</div>
			<div class="whyua__desc">Ukrainian universities provides european quality of education in big number of specialities</div>
		</div>
	</div>
	<div class="whyua__item-wr whyua__item-wr_fourth">
		<div class="whyua__item">
			<div class="whyua__ico"></div>
			<div class="whyua__caption">Mild climate</div>
			<div class="whyua__desc">You'll be in comfort at any time of the year. Winter is warn and summer isn't very hot</div>
		</div>
	</div>
	<div class="whyua__item-wr whyua__item-wr_fifth">
		<div class="whyua__item">
			<div class="whyua__ico"></div>
			<div class="whyua__caption">Tolerant people</div>
			<div class="whyua__desc">Ukrainians are always open, sincere and happy to communicate with foreigners</div>
		</div>
	</div>
	<div class="whyua__item-wr whyua__item-wr_sixth">
		<div class="whyua__item">
			<div class="whyua__ico"></div>
			<div class="whyua__caption">Beautiful women</div>
			<div class="whyua__desc">Ukrainian women are one of the most beautiful in the world.</div>
		</div>
	</div>
</div>